body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    background-image: url('space.jpg');
    background-size: cover; /* Adjust the background size as needed */
    background-position: center; /* Center the background image */
}

.container {
    max-width: 80%; /* Set maximum width */
    margin: auto; /* Center the container horizontally */
    padding: 20px;
    box-sizing: border-box; /* Include padding in the total width */
    color: white;
    margin-top: 50px;
    box-shadow: 0 0 20px #00bfff, 0 0 50px #00bfff, 0 0 80px #00bfff, 0 0 100px #00bfff, 0 0 100px #00bfff;
    background-image: url('swargam1.jpg'); /* Replace 'container-background-image.jpg' with your image path */
    background-size: cover; /* Adjust the background size as needed */
    background-position: center; /* Center the background image */
    color: white;
    height: 800px;
}

h1 {
    text-align: center;
}

#gatekeeper-interface {
    text-align: center;
}

#outcome {
    text-align: center;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Responsive styles */
@media (max-width: 768px) {
    .container {
        max-width: 90%; /* Adjust maximum width for smaller screens */
    }
}
